Repository smolar/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-centos-8-molecule-aide, tripleo-ansible-centos-8-molecule-backup_and_restore, tripleo-ansible-centos-8-molecule-login_defs, tripleo-ansible-centos-8-molecule-test_deps, tripleo-ansible-centos-8-molecule-test_package_action, tripleo-ansible-centos-8-molecule-tripleo-modules, tripleo-ansible-centos-8-molecule-tripleo_bootstrap, tripleo-ansible-centos-8-molecule-tripleo_cellv2, tripleo-ansible-centos-8-molecule-tripleo_ceph_run_ansible, tripleo-ansible-centos-8-molecule-tripleo_clients_install, tripleo-ansible-centos-8-molecule-tripleo_config, tripleo-ansible-centos-8-molecule-tripleo_container_image_prepare, tripleo-ansible-centos-8-molecule-tripleo_container_manage, tripleo-ansible-centos-8-molecule-tripleo_container_rm, tripleo-ansible-centos-8-molecule-tripleo_container_stop, tripleo-ansible-centos-8-molecule-tripleo_container_tag, tripleo-ansible-centos-8-molecule-tripleo_create_admin, tripleo-ansible-centos-8-molecule-tripleo_firewall, tripleo-ansible-centos-8-molecule-tripleo_hieradata, tripleo-ansible-centos-8-molecule-tripleo_hosts_entries, tripleo-ansible-centos-8-molecule-tripleo_image_serve, tripleo-ansible-centos-8-molecule-tripleo_kernel, tripleo-ansible-centos-8-molecule-tripleo_keystone_resources, tripleo-ansible-centos-8-molecule-tripleo_module_load, tripleo-ansible-centos-8-molecule-tripleo_nova_image_cache, tripleo-ansible-centos-8-molecule-tripleo_nvdimm, tripleo-ansible-centos-8-molecule-tripleo_ovs_dpdk, tripleo-ansible-centos-8-molecule-tripleo_packages, tripleo-ansible-centos-8-molecule-tripleo_persist, tripleo-ansible-centos-8-molecule-tripleo_podman, tripleo-ansible-centos-8-molecule-tripleo_provision_mcelog, tripleo-ansible-centos-8-molecule-tripleo_ptp, tripleo-ansible-centos-8-molecule-tripleo_puppet_cache, tripleo-ansible-centos-8-molecule-tripleo_redhat_enforce, tripleo-ansible-centos-8-molecule-tripleo_securetty, tripleo-ansible-centos-8-molecule-tripleo_ssh_known_hosts, tripleo-ansible-centos-8-molecule-tripleo_sshd, tripleo-ansible-centos-8-molecule-tripleo_systemd_wrapper, tripleo-ansible-centos-8-molecule-tripleo_timezone, tripleo-ansible-centos-8-molecule-tripleo_transfer, tripleo-ansible-centos-8-molecule-tripleo_upgrade_hiera, tripleo-ansible-centos-8-molecule-tripleo_validations_package, tripleo-ansible-centos-8-molecule-tuned, tripleo-ansible-centos-8-role-addition

Path conditions:
  tripleo-ansible-centos-8-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-8-molecule-backup_and_restore: any of: ^tripleo_ansible/roles/backup_and_restore/.*
  tripleo-ansible-centos-8-molecule-login_defs: any of: ^tripleo_ansible/roles/login_defs/.*
  tripleo-ansible-centos-8-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*, ^zuul.d/playbooks/pre.yml
  tripleo-ansible-centos-8-molecule-test_package_action: any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*
  tripleo-ansible-centos-8-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-8-molecule-tripleo_bootstrap: any of: ^tripleo_ansible/roles/tripleo_bootstrap/.*
  tripleo-ansible-centos-8-molecule-tripleo_cellv2: any of: ^tripleo_ansible/roles/tripleo_cellv2/.*
  tripleo-ansible-centos-8-molecule-tripleo_ceph_run_ansible: any of: ^tripleo_ansible/roles/tripleo_ceph_.*
  tripleo-ansible-centos-8-molecule-tripleo_clients_install: any of: ^tripleo_ansible/roles/tripleo_clients_install/.*
  tripleo-ansible-centos-8-molecule-tripleo_config: any of: ^tripleo_ansible/roles/tripleo_config/.*
  tripleo-ansible-centos-8-molecule-tripleo_container_image_prepare: any of: ^tripleo_ansible/roles/tripleo_container_image_prepare/.*
  tripleo-ansible-centos-8-molecule-tripleo_container_manage: any of: ^tripleo_ansible/roles/tripleo_container_manage/.*, ^tripleo_ansible/roles/tripleo_container_rm/.*, ^tripleo_ansible/ansible_plugins/filter/helpers.py$, ^tripleo_ansible/ansible_plugins/modules/container_config_data.py$, ^tripleo_ansible/ansible_plugins/modules/container_puppet_config.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container_info.py$
  tripleo-ansible-centos-8-molecule-tripleo_container_rm: any of: ^tripleo_ansible/roles/tripleo_container_rm/.*
  tripleo-ansible-centos-8-molecule-tripleo_container_stop: any of: ^tripleo_ansible/roles/tripleo_container_stop/.*
  tripleo-ansible-centos-8-molecule-tripleo_container_tag: any of: ^tripleo_ansible/roles/tripleo_container_tag/.*
  tripleo-ansible-centos-8-molecule-tripleo_create_admin: any of: ^tripleo_ansible/roles/tripleo_create_admin/.*
  tripleo-ansible-centos-8-molecule-tripleo_firewall: any of: ^tripleo_ansible/roles/tripleo_firewall/.*
  tripleo-ansible-centos-8-molecule-tripleo_hieradata: any of: ^tripleo_ansible/roles/tripleo_hieradata/.*
  tripleo-ansible-centos-8-molecule-tripleo_hosts_entries: any of: ^tripleo_ansible/roles/tripleo_hosts_entries/.*
  tripleo-ansible-centos-8-molecule-tripleo_image_serve: any of: ^tripleo_ansible/roles/tripleo_image_serve/.*
  tripleo-ansible-centos-8-molecule-tripleo_kernel: any of: ^tripleo_ansible/roles/tripleo_kernel/.*
  tripleo-ansible-centos-8-molecule-tripleo_keystone_resources: any of: ^tripleo_ansible/roles/tripleo_keystone_resources/.*
  tripleo-ansible-centos-8-molecule-tripleo_module_load: any of: ^tripleo_ansible/roles/tripleo_module_load/.*
  tripleo-ansible-centos-8-molecule-tripleo_nova_image_cache: any of: ^tripleo_ansible/roles/tripleo_nova_image_cache/.*, ^tripleo_ansible/ansible_plugins/action/tripleo_nova_image_cache.py, ^tripleo_ansible/ansible_plugins/modules/tripleo_nova_image_cache.py
  tripleo-ansible-centos-8-molecule-tripleo_nvdimm: any of: ^tripleo_ansible/roles/tripleo_nvdimm/.*
  tripleo-ansible-centos-8-molecule-tripleo_ovs_dpdk: any of: ^tripleo_ansible/roles/tripleo_ovs_dpdk/.*
  tripleo-ansible-centos-8-molecule-tripleo_packages: any of: ^tripleo_ansible/roles/tripleo_packages/.*
  tripleo-ansible-centos-8-molecule-tripleo_persist: any of: ^tripleo_ansible/roles/tripleo_persist/.*
  tripleo-ansible-centos-8-molecule-tripleo_podman: any of: ^tripleo_ansible/roles/tripleo_podman/.*
  tripleo-ansible-centos-8-molecule-tripleo_provision_mcelog: any of: ^tripleo_ansible/roles/tripleo_provision_mcelog/.*
  tripleo-ansible-centos-8-molecule-tripleo_ptp: any of: ^tripleo_ansible/roles/tripleo_ptp/.*
  tripleo-ansible-centos-8-molecule-tripleo_puppet_cache: any of: ^tripleo_ansible/roles/tripleo_puppet_cache/.*
  tripleo-ansible-centos-8-molecule-tripleo_redhat_enforce: any of: ^tripleo_ansible/roles/tripleo_redhat_enforce/.*
  tripleo-ansible-centos-8-molecule-tripleo_securetty: any of: ^tripleo_ansible/roles/tripleo_securetty/.*
  tripleo-ansible-centos-8-molecule-tripleo_ssh_known_hosts: any of: ^tripleo_ansible/roles/tripleo_ssh_known_hosts/.*
  tripleo-ansible-centos-8-molecule-tripleo_sshd: any of: ^tripleo_ansible/roles/tripleo_sshd/.*
  tripleo-ansible-centos-8-molecule-tripleo_systemd_wrapper: any of: ^tripleo_ansible/roles/tripleo_systemd_wrapper/.*
  tripleo-ansible-centos-8-molecule-tripleo_timezone: any of: ^tripleo_ansible/roles/tripleo_timezone/.*
  tripleo-ansible-centos-8-molecule-tripleo_transfer: any of: ^tripleo_ansible/roles/tripleo_transfer/.*
  tripleo-ansible-centos-8-molecule-tripleo_upgrade_hiera: any of: ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*
  tripleo-ansible-centos-8-molecule-tripleo_validations_package: any of: ^tripleo_ansible/roles/tripleo_validations_package/.*
  tripleo-ansible-centos-8-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*, ^zuul.d/playbooks/pre.yml
  tripleo-ansible-centos-8-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml

add missing files
  doc/source/roles/role-tripleo_provision_mcelog.rst
  tripleo_ansible/roles/tripleo_provision_mcelog/defaults/main.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/files/.gitkeep
  tripleo_ansible/roles/tripleo_provision_mcelog/handlers/main.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/meta/main.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/templates/snmpd.service
  tripleo_ansible/roles/tripleo_provision_mcelog/vars/main.yml
Due: tripleo-ansible-centos-8-molecule-tripleo_provision_mcelog

separate role mcelog and snmpd
  doc/source/roles/role-tripleo_provision_snmpd.rst
  tripleo_ansible/roles/tripleo_provision_mcelog/templates/snmpd.service
  tripleo_ansible/roles/tripleo_provision_snmpd/defaults/main.yml
  tripleo_ansible/roles/tripleo_provision_snmpd/files/.gitkeep
  tripleo_ansible/roles/tripleo_provision_snmpd/handlers/main.yml
  tripleo_ansible/roles/tripleo_provision_snmpd/meta/main.yml
  tripleo_ansible/roles/tripleo_provision_snmpd/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_provision_snmpd/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_provision_snmpd/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_provision_snmpd/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_provision_snmpd/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_provision_snmpd/tasks/main.yml
  tripleo_ansible/roles/tripleo_provision_snmpd/vars/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-centos-8-molecule-tripleo_provision_mcelog, tripleo-ansible-centos-8-role-addition

fix restart systemd
  tripleo_ansible/roles/tripleo_provision_mcelog/tasks/main.yml
Due: tripleo-ansible-centos-8-molecule-tripleo_provision_mcelog

fix set_fact variable
  tripleo_ansible/roles/tripleo_provision_snmpd/tasks/main.yml
Due: none

disable condition and fix install packages
  tripleo_ansible/roles/tripleo_provision_snmpd/tasks/main.yml
Due: none
